<div class="site-main">
    <div class="foundation">
        <h3>Foundation</h3>
        <h4>of eInvoicing compliance</h4>
        <ul class="pillars">
            <li>
                <div class="data_validation">
                    <a href=#>
                        <div class="button">
                            <div class="icon data"></div>
                            <div><h5>Data Validation</h5></div>
                        </div>
                    </a>
                    <table class="table">
                        <tr>
                            <th class="data_header">VAT Content</th>
                        </tr>
                        <tr>
                            <td class="overview">Invoice data elements comply with local tax authorities requirements</td>
                        </tr>
                        <tr>
                            <td class="overview">Inclusive of tax and commercial law requirements</td>
                        </tr>
                        <tr>
                            <td class="overview">Data values are validated to reduce errors</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <div class="auth_integ">
                    <a href=#>
                        <div class="button">
                            <div class="icon auth"></div>
                            <div><h5>Authenticity & Integrity</h5></div>
                        </div>
                    </a>
                    <table class="table">
                        <tr>
                            <th class="auth_header">Digital Signature</th>
                        </tr>
                        <tr>
                            <td class="overview">Guarantees authenticity and integrity of electronic invoice</td>
                        </tr>
                        <tr>
                            <td class="overview">Digital signature applied by per-country rules</td>
                        </tr>
                        <tr>
                            <td class="overview">All communications within a secure environment</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <div class="archiving">
                    <a href=#>
                        <div class="button">
                            <div class="icon arch"></div>
                            <div><h5>Archiving & Audit</h5></div>
                        </div>
                    </a>
                    <table class="table">
                        <tr>
                            <th class="arch_header">Archiving & Audit</th>
                        </tr>
                        <tr>
                            <td class="overview">Secure electronic data warehouse for all invoice-related documents</td>
                        </tr>
                        <tr>
                            <td class="overview">Transaction audit trail
                            </td>
                        </tr>
                        <tr>
                            <td class="overview">Complies with data protection legislation</td>
                        </tr>
                        <tr>
                            <td class="overview">Access for auditors</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>