@media screen and (min-width: 480px) {
  .table {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .pillars li {
    width: 28.33333333333%;
  }

  .pillars li:nth-child(4n) {
    clear: left;
  }

  .table {
    width: 100%;
  }
}